<div class="item-container"
    [ngClass]="{ 'selected': doc.selected }">
    <div class="title">{{ doc.doc.title | documentTitle }}</div>

    <img class="record-icon"
        src="assets/icons/record/record.svg"
        *ngIf="doc.state === 'recording'
            || doc.state === 'paused'">
    <img class="broadcast-icon"
        src="assets/icons/broadcast/broadcast-dark.svg"
        *ngIf="doc.state !== null">

    <img class="close-button" 
        src="assets/icons/cross.svg"
        (click)="close()">
</div>
