<div class="left-container">
    <div class="title-container">
        <button class="close-button"
            (click)="closeEmitter.emit()">
            <img src="assets/icons/crosses/cross-black.svg" alt="close">
        </button>
        <span class="title">
            {{ (folderSelect ? 'select-folder' : 'select-file') | locale | async }}
        </span>
    </div>
    <div class="drive-container">
        <app-selectable-button class="drive"
           *ngFor="let mountpoint of fileSelect.mountpoints"
           [selected]="fileSelect.isMountpointSelected(mountpoint)"
           (button-click)="fileSelect.selectMountpoint(mountpoint)">
            {{ mountpoint.path }}
        </app-selectable-button>
    </div>
</div>

<div class="right-container">
    <div class="dir-content-container">
        <div class="title-container">
            <span class="name">{{ 'name' | locale | async }}</span>
            <span class="type">{{ 'type' | locale | async }}</span>
            <span class="size">{{ 'size' | locale | async }}</span>
        </div>

        <div class="dir-content">
            <div class="go-back-button"
                *ngIf="!fileSelect.isCurrentDirRoot()"
                (click)="fileSelect.changeDirToParent()">
                <div class="icon-container">
                    <img src="assets/icons/arrows/left-arrow.svg">
                </div>
                <span class="hint">{{ 'return' | locale | async }}</span>
            </div>
            <div class="folder-container"
                *ngFor="let folder of fileSelect.currentDirContent.folders"
                [ngClass]="{'selected': folder.path === fileSelect.selectedPath }"
                (click)="onFolderClick(folder)">
                <div class="icon-container">
                    <img src="assets/icons/file-formats/folder.svg">
                </div>
                <span class="name">{{ folder.name }}</span>
                <span class="type">{{ 'folder' | locale | async }}</span>
            </div>
            <div class="file-container"
                *ngFor="let file of currentDirFiles"
                [ngClass]="{'selected': file.path === fileSelect.selectedPath }"
                (click)="fileSelect.select(file)">
                <div class="icon-container">
                    <img [src]="fileSelect.getFileTypeIconPath(file.type)">
                </div>
                <span class="name">{{ file.name }}</span>
                <span class="type">
                    {{ 'file-extension' | (locale : (file.type | uppercase)) | async "
                </span>
                <span class="size">{{ file.size }}</span>
            </div>
        </div>
    </div>

    <app-small-button class="add-button"
        [disabled]="!fileSelect.selectedPath.length"
        (button-click)="openEmitter.emit(fileSelect.selectedPath)">
        {{ openButtonText }}
    </app-small-button>
</div>
