@import '../../../../styles/mixins';

:host {
  display: flex;
  overflow: hidden;
  height: 1000px;

  flex-direction: row;

  border-radius: 10px;

  .left-container {
    display: flex;
    height: 100%;

    flex-direction: column;

    padding: 20px;

    background: var(--faint-light-grey-color);

    .title-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .close-button {
        --icon-button-icon-width: 25px;
      }

      .title {
        @extend %primary-regular-font;

        margin-left: 10px;

        color: var(--base-black-color);
      }
    }

    .drive-container {
      display: flex;
      flex-direction: column;

      padding: 10px;
      margin-top: 15px;

      .drive {
        --normal-button-justify-content: flex-start;

        margin: 15px 0;
      }

      .filler-drive {
        visibility: hidden;
      }
    }
  }

  .right-container {
    /* local variables */
    --icon-field-width: 125px;
    --name-field-width: 440px;
    --type-field-width: 280px;
    --size-field-width: 110px;
    --field-margin: 10px;
    --file-height: 85px;
    --file-right-padding: 20px;
    --file-icon-height: 30px;

    @extend %primary-light-font;

    display: flex;
    height: 100%;

    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    background: var(--base-white-color);

    .dir-content-container {
      display: flex;
      /* will be recalculated by flex-container
      needed here for overflow-y: scroll to work */
      height: 0;

      flex-direction: column;
      flex-grow: 1;

      .title-container {
        display: flex;
        flex-direction: row;

        margin: 30px 0 10px;

        color: var(--faint-dark-grey-color);

        .name {
          width: var(--name-field-width);

          margin-right: var(--field-margin);
          margin-left: var(--icon-field-width);
        }

        .type {
          width: var(--type-field-width);

          margin-right: var(--field-margin);
        }

        .size {
          width: var(--size-field-width);

          margin-right: var(--file-right-padding);
        }
      }

      .dir-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        overflow-y: scroll;

        .icon-container {
          display: flex;
          width: var(--icon-field-width);

          flex-direction: row;
          justify-content: center;

          img {
            height: var(--file-icon-height);
          }
        }

        .go-back-button {
          display: flex;
          height: var(--file-height);
          min-height: var(--file-height);

          flex-direction: row;
          align-items: center;

          cursor: pointer;
          -webkit-tap-highlight-color: transparent;
          transition: var(--base-transition);
          user-select: none;

          &:active {
            background: var(--faint-light-grey-color);
          }

          .hint {
            color: var(--base-black-color);
          }
        }

        .file-container, .folder-container {
          display: flex;
          height: var(--file-height);
          min-height: var(--file-height);

          flex-direction: row;
          align-items: center;

          padding-right: var(--file-right-padding);

          cursor: pointer;
          -webkit-tap-highlight-color: transparent;
          transition: var(--base-transition);
          user-select: none;

          &.selected {
            background: var(--faint-light-grey-color);
          }

          &:active {
            background: var(--faint-light-grey-color);
          }

          .name {
            overflow: hidden;
            width: var(--name-field-width);

            margin-right: var(--field-margin);

            color: var(--base-black-color);
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .type {
            width: var(--type-field-width);

            margin-right: var(--field-margin);

            color: var(--faint-dark-grey-color);
          }

          .size {
            width: var(--size-field-width);

            color: var(--faint-dark-grey-color);
          }
        }
      }
    }

    .add-button {
      margin: 15px var(--file-right-padding) 30px 0;
    }
  }

  .spinner-container {
    display: flex;
    height: 100%;

    align-items: center;
    justify-content: center;

    margin: 30px 0;
  }
}
