@import '../../../../styles/mixins';

:host {
  display: flex;
  width: 100%;

  gap: 100px;

  .part-container {
    flex-grow: 1;
  }

  .language-container {
    display: flex;
    justify-content: flex-end;
  }
}
