@import "../../../../styles/mixins.scss";

.controls-container {
  &.closed {
    display: flex;
    flex-direction: column;

    .change-button {
      margin-bottom: 30px;
    }
  }

  &.opened {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content min-content;
    row-gap: 30px;
    column-gap: 30px;

    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .wrong-hint {
        margin-bottom: 10px;

        display: inline-block;

        @extend %primary-light-font;
        color: var(--accent-red-color);

        opacity: 0;
        transition: .3s;

        &.visible {
          opacity: 1;
        }
      }
    }

    .update-input {
      align-self: end;
    }

    .apply-button {
      --button-background: var(--accent-blue-vertical-gradient);
      --button-color: var(--base-white-color);
    }
  }
}
