<app-settings-section [title]="'password' | locale | async">
    <div class="closed controls-container"
        *ngIf="!passwordControlsOpened">
        <app-normal-button class="create-button"
            *ngIf="!(auth.passwordObservable | async)?.length"
            (button-click)="passwordControlsOpened = true">
            {{ 'create' | locale | async }}
        </app-normal-button>
        <app-normal-button class="change-button"
            *ngIf="(auth.passwordObservable | async)?.length"
            (button-click)="passwordControlsOpened = true">
            {{ 'edit' | locale | async }}
        </app-normal-button>
        <app-normal-button class="remove-button"
            *ngIf="(auth.passwordObservable | async)?.length"
            (button-click)="auth.clearPassword()">
            {{ 'delete' | locale | async }}
        </app-normal-button>
    </div>

    <div class="opened controls-container"
        *ngIf="passwordControlsOpened"
        [formGroup]="passwordControl">
        <div class="input-container"
            *ngIf="(auth.passwordObservable | async)?.length">
            <span class="wrong-hint"
                [ngClass]="{ 'visible': wrongPasswordHint }">
                {{ 'wrong-password' | locale | async }}
            </span>
            <app-input [placeholder]="'old-password' | locale | async"
                formControlName="current">
            </app-input>
        </div>
        <app-input class="update-input"
            [placeholder]="'new-password' | locale | async"
            formControlName="update"></app-input>
        <div class="grid-container"
            *ngIf="!(auth.passwordObservable | async)?.length">
        </div>

        <app-normal-button class="cancel-button"
            (button-click)="closeEditingMode()">
            {{ 'cancel' | locale | async }}
        </app-normal-button>
        <app-normal-button class="apply-button"
            [accent]="true"
            [disabled]="(!currentControl.value.length 
                        && (auth.passwordObservable | async)?.length)
                       || !updateControl.value.length
                       || wrongPasswordHint"
            (button-click)="savePassword()">
            {{ 'apply' | locale | async }}
        </app-normal-button>
    </div>
</app-settings-section>
