@import '../../../../styles/mixins';

.controls-container {
  &.closed {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &.opened {
    display: grid;
    column-gap: 30px;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    row-gap: 30px;

    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .wrong-hint {
        @extend %primary-light-font;

        display: inline-block;

        color: var(--accent-red-color);

        opacity: 0;

        transition: .3s;

        &.visible {
          opacity: 1;
        }
      }
    }

    .update-input {
      align-self: end;
    }
  }
}
