<app-settings-section title="Пароль">
    <div class="closed controls-container"
        *ngIf="!passwordControlsOpened">
        <app-normal-button class="create-button"
            *ngIf="!(auth.passwordObservable | async).length"
            (button-click)="passwordControlsOpened = true">
            Создать
        </app-normal-button>
        <app-normal-button class="change-button"
            *ngIf="(auth.passwordObservable | async).length"
            (button-click)="passwordControlsOpened = true">
            Изменить
        </app-normal-button>
        <app-normal-button class="remove-button"
            *ngIf="(auth.passwordObservable | async).length"
            (button-click)="auth.clearPassword()">
            Удалить
        </app-normal-button>
    </div>

    <div class="opened controls-container"
        *ngIf="passwordControlsOpened"
        [formGroup]="passwordControl">
        <div class="input-container"
            *ngIf="(auth.passwordObservable | async).length">
            <span class="wrong-hint"
                [ngClass]="{ 'visible': wrongPasswordHint }">
                Неверный пароль
            </span>
            <app-input 
                placeholder="Старый пароль"
                formControlName="current">
            </app-input>
        </div>
        <app-input class="update-input"
            placeholder="Новый пароль"
            formControlName="update"></app-input>
        <div class="grid-container"
            *ngIf="!(auth.passwordObservable | async).length">
        </div>

        <app-normal-button class="cancel-button"
            (button-click)="closeEditingMode()">
            Отмена
        </app-normal-button>
        <app-normal-button class="apply-button"
            [disabled]="(!currentControl.value.length 
                       && (auth.passwordObservable | async).length)
                       || !updateControl.value.length
                       || wrongPasswordHint"
            (button-click)="savePassword()">
            Применить
        </app-normal-button>
    </div>
</app-settings-section>
