<app-settings-section [title]="'password' | locale | async">
    <div class="closed controls-container"
        *ngIf="!passwordControlsOpened">
        <button appNormalButton class="create-button"
            *ngIf="!(auth.passwordObservable | async)?.length"
            (click)="passwordControlsOpened = true">
            {{ 'create' | locale | async }}
        </button>
        <button appNormalButton class="change-button"
            *ngIf="(auth.passwordObservable | async)?.length"
            (click)="passwordControlsOpened = true">
            {{ 'edit' | locale | async }}
        </button>
        <button appNormalButton class="remove-button"
            *ngIf="(auth.passwordObservable | async)?.length"
            (click)="auth.clearPassword()">
            {{ 'delete' | locale | async }}
        </button>
    </div>

    <div class="opened controls-container"
        *ngIf="passwordControlsOpened"
        [formGroup]="passwordControl">
        <div class="input-container"
            *ngIf="(auth.passwordObservable | async)?.length">
            <span class="wrong-hint"
                [ngClass]="{ 'visible': wrongPasswordHint }">
                {{ 'wrong-password' | locale | async }}
            </span>
            <app-input [placeholder]="'old-password' | locale | async"
                formControlName="current">
            </app-input>
        </div>
        <app-input class="update-input"
            [placeholder]="'new-password' | locale | async"
            formControlName="update"
            (enter)="applyButton.click()"
        ></app-input>
        <div class="grid-container"
            *ngIf="!(auth.passwordObservable | async)?.length">
        </div>

        <button appNormalButton class="cancel-button"
            (click)="closeEditingMode()">
            {{ 'cancel' | locale | async }}
        </button>
        <button appNormalButton class="apply-button"
            #applyButton
            [accent]="true"
            [disabled]="(!currentControl.value.length 
                        && (auth.passwordObservable | async)?.length)
                       || !updateControl.value.length
                       || wrongPasswordHint"
            (click)="savePassword()">
            {{ 'apply' | locale | async }}
        </button>
    </div>
</app-settings-section>
