@import '../../../../styles/mixins';

:host {
  display: flex;
  flex-direction: column;

  .title {
    @extend %primary-light-font;

    margin-bottom: 20px;

    color: var(--base-black-color);
  }
}
