@import "../../../../styles/mixins.scss";

:host {
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 20px;

    @extend %primary-light-font;
    color: var(--base-black-color);
  }
}
