<div class="top-container">
    <button class="close-button"
        (click)="location.back()">
        <img src="assets/icons/crosses/cross-black.svg" alt="close">
    </button>
</div>

<div class="center-container">
    <span class="title">{{ 'enter-password' | locale | async }}</span>

    <div class="password-input">
        <span class="wrong-password-hint"
              [ngClass]="{ 'visible': isPasswordWrong }">
            {{ 'wrong-password' | locale | async }}
        </span>
        <app-input [placeholder]="'password' | locale | async"
            [formControl]="password"></app-input>
    </div>

    <app-normal-button class="continue-button"
        (button-click)="continueWithPassword()">
        {{ 'continue' | locale | async }}
    </app-normal-button>
</div>

<div class="bottom-container">
    <img class="logo" src="assets/logos/grey-logo.svg" alt="WS">
</div>
