<div class="top-container">
    <app-icon-button class="close-button"
        iconSrc="assets/icons/crosses/cross-black.svg" 
        (button-click)="location.back()">
    </app-icon-button>
</div>

<div class="center-container">
    <span class="title">{{ 'enter-password' | locale | async }}</span>

    <div class="password-input">
        <span class="wrong-password-hint"
              [ngClass]="{ 'visible': isPasswordWrong | async }">
            {{ 'wrong-password' | locale | async }}
        </span>
        <app-input [placeholder]="'password' | locale | async"
            [formControl]="password"
            (enter)="continueButton.click()"
        ></app-input>
    </div>

    <button appNormalButton class="continue-button"
        #continueButton
        [accent]="true"
        [disabled]="(isPasswordWrong | async) || password.invalid"
        (click)="continueWithPassword()">
        {{ 'continue' | locale | async }}
    </button>
</div>

<div class="bottom-container">
    <img class="logo" src="assets/logos/grey-logo.svg" alt="WS">
</div>
