<div class="top-container">
    <button class="close-button"
        (click)="location.back()">
        <img src="assets/icons/crosses/cross-black.svg" alt="close">
    </button>
</div>

<div class="center-container">
    <span class="title">Введите пароль администратора</span>

    <div class="password-input">
        <span class="wrong-password-hint"
              [ngClass]="{ 'visible': isPasswordWrong }">
            Неверный пароль
        </span>
        <app-input placeholder="Пароль"
            [formControl]="password"></app-input>
    </div>

    <app-normal-button class="continue-button"
        (button-click)="continueWithPassword()">
        Продолжить
    </app-normal-button>
</div>

<div class="bottom-container">
    <img class="logo" src="assets/logos/grey-logo.svg" alt="WS">
</div>
