<app-settings-section title="Сохранение">
    <div class="path-container">
        <app-input [formControl]="pathControl"
            placeholder="Путь к директории сохранения"
            [disabled]="saveToggle.value">
        </app-input>
        <app-normal-button
            [disabled]="saveToggle.value">
            Обзор
        </app-normal-button>
    </div>
    <div class="save-toggle">
        <app-toggle [formControl]="saveToggle">
        </app-toggle>

        Сохранять в директорию документа
    </div>
</app-settings-section>
