@import '../../../../styles/mixins';

:host {
  display: flex;
  width: 100%;

  justify-content: center;

  .section-container {
    display: flex;
    flex-direction: column;
    gap: 70px;

    .path-container {
      display: flex;
      align-items: flex-end;
      gap: 30px;

      .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .not-found {
          @extend %primary-light-font;

          color: var(--accent-red-color);

          opacity: 0;

          transition: var(--base-transition);

          &.visible {
            opacity: 1;
          }
        }

        .path-input {
          --input-text-align: left;

          width: 600px;
        }
      }

      .browse-button,
      .apply-button {
        width: 200px;
      }
    }

    .save-toggle {
      @extend %primary-regular-font;

      display: flex;
      align-items: center;

      color: var(--base-black-color);

      gap: 30px;
    }
  }
}
