<app-settings-section [title]="'saving' | locale | async">
    <div class="path-container">
        <div class="input-container"><span class="not-found"
                  [ngClass]="{ 'visible': pathDoesNotExist }">
                {{ 'directory-not-exist' | locale | async }}
            </span><app-input [formControl]="pathControl"
                [placeholder]="'path-to-directory' | locale | async"
                [disabled]="saveToggle.value">
            </app-input></div>

        <app-normal-button class="browse-button"
            [disabled]="saveToggle.value"
            (button-click)="fileSelectDialogOpened = true">
            {{ 'browse' | locale | async }}
        </app-normal-button>

        <app-normal-button class="apply-button"
            [accent]="true"
            [disabled]="saveToggle.value 
                || settings.savePath === pathControl.value
                || pathDoesNotExist"
            (button-click)="applyPath()">
            {{ 'apply' | locale | async }}
        </app-normal-button>
    </div>

    <div class="save-toggle">
        <app-toggle [formControl]="saveToggle">
        </app-toggle>

        {{ 'save-to-document-directory' | locale | async }}
    </div>
</app-settings-section>

<app-backdrop class="file-dialog-backdrop"
    [opened]="fileSelectDialogOpened"
    *ngIf="fileSelect.selectedMountpoint">
    <app-file-select-dialog
        [folderSelect]="true"
        [openButtonText]="'select' | locale | async"
        (close-click)="fileSelectDialogOpened = false"
        (open-click)="selectFolder($event)">
    </app-file-select-dialog>
</app-backdrop>
