###   Editor configuration   ###
### https://editorconfig.org ###

# top-most EditorConfig file
root = true

[*]
# tabs and indents
indent_style = space
# encoding
charset = utf-8
# line & file endings
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,ts,json}]
# tabs and indents
indent_size = 2

[*.html]
# tabs and indents
indent_size = 4
trim_trailing_whitespace = false

[*.{css,scss}]
# tabs and indents
indent_size = 2

[*.md]
# line & file endings
trim_trailing_whitespace = false
