@import '../../../../../styles/mixins';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px;

  background: var(--base-white-color);
  border-radius: 10px;

  color: var(--base-black-color);

  .title {
    @extend %primary-bold-font;

    margin-bottom: 30px;

    text-transform: uppercase;
  }

  .subtitle {
    @extend %primary-light-font;

    margin-bottom: 50px;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .confirm-button {
      margin-right: 30px;
    }
  }
}
