<span class="title"
    *ngIf="confirmation.state === 'close-broadcasting'">
    {{ 'file-broadcasting' | locale | async }}
</span>
<span class="title"
    *ngIf="confirmation.state === 'close-recording'">
    {{ 'recording-in-progress' | locale | async }}
</span>

<span class="subtitle">
    {{ 'file-close-prompt' | locale | async }}
</span>

<div class="buttons-container">
    <app-small-button class="confirm-button"
        (button-click)="confirmClickEmitter.emit()">
        {{ 'close' | locale | async }}
    </app-small-button>
    <app-small-button class="cancel-button"
        [accent]="true"
        (button-click)="cancelClickEmitter.emit()">
        {{ 'cancel' | locale | async }}
    </app-small-button>
</div>
