<ng-container [ngSwitch]="confirmation.stateObservable | async">
    <span class="title"
        *ngSwitchCase="'close-broadcasting'">
        {{ 'file-broadcasting' | locale | async }}
    </span>
    <span class="title"
        *ngSwitchCase="'close-recording'">
        {{ 'recording-in-progress' | locale | async }}
    </span>
</ng-container>

<span class="subtitle">
    {{ 'file-close-prompt' | locale | async }}
</span>

<div class="buttons-container">
    <button appTextButton
        class="small-text-button-size confirm-button"
        (click)="confirmClickEmitter.emit()">
        {{ 'close' | locale | async }}
    </button>
    <button appTextButton
        class="small-text-button-size cancel-button"
        [accent]="true"
        (click)="cancelClickEmitter.emit()">
        {{ 'cancel' | locale | async }}
    </button>
</div>
