<button appIconButton class="previous-button"
    [disabled]="isFirstPage | async"
    iconSrc="assets/icons/arrows/left-arrow.svg"
    (click)="switchPageToPrevious()">
</button>

<app-pdf-view class="pdf-content"
    *ngIf="currentPage | async as page"
    [page]="page">
</app-pdf-view>

<button appIconButton class="next-button"
    [disabled]="isLastPage | async"
    iconSrc="assets/icons/arrows/right-arrow.svg"
    (click)="switchPageToNext()">
</button>

<div class="grid-item"></div>
<app-slide-progress-bar class="progress-bar"
    *ngIf="documentObservable | async as doc"
    [doc]="doc">
</app-slide-progress-bar>
<div class="grid-item"></div>
