button {
  width: 60px;
  height: 60px;

  background: var(--base-white-color);

  border-radius: 30px;
  box-shadow: var(--base-shadow);
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--base-transition);

  img {
    width: var(--record-broadcast-button-icon-width);
  }

  &:disabled {
    opacity: .5;
  }

  &:active {
    transform: var(--button-active-transform);
  }
}
