.nav-container {
  display: flex;

  box-sizing: border-box;

  align-items: center;
  gap: 30px;

  &.vertical {
    height: 100%;
    flex-direction: column;

    padding: 15px 0;

    overflow-y: scroll;

    .thumbnail {
      width: 155px;
    }
  }

  &.horizontal {
    width: 100%;

    padding: 0 15px;
    overflow-x: scroll;

    .thumbnail {
      height: 155px;
    }

    &.wrap {
      height: 100%;

      flex-wrap: wrap;
      justify-content: center;

      padding: 0;
      padding-bottom: 15px;

      overflow-x: auto;
      overflow-y: scroll;
    }
  }
}
