.nav-container {
  display: flex;
  align-items: center;

  &.vertical {
    height: 100%;
    flex-direction: column;

    overflow-y: scroll;

    .thumbnail {
      width: 155px;
      margin: 15px 0;
    }
  }

  &.horizontal {
    width: 100%;
    flex-direction: row;

    overflow-x: scroll;

    .thumbnail {
      height: 155px;
      margin: 0 15px;
    }

    &.wrap {
      height: 100%;

      flex-wrap: wrap;
      justify-content: center;

      overflow-x: auto;
      overflow-y: scroll;

      .thumbnail {
        margin: 15px;
      }
    }
  }
}
