<div class="record-broadcast-container"
    *ngIf="!wrapped">
    <div class="record-container">
        <span class="hint">{{ 'recording' | locale | async }}</span>

        <app-record-broadcast-button
            iconSrc="assets/icons/record/record-red.svg"
            [disabled]="!recordBroadcastService.isRecordingAvailable()"
            *ngIf="recordBroadcastService.state.value === null
                || recordBroadcastService.state.value === 'broadcasting'"
            (button-click)="recordBroadcastService.startRecording()">
        </app-record-broadcast-button>

        <app-record-controls
            [recordState]="recordBroadcastService.state.value"
            *ngIf="recordBroadcastService.state.value === 'recording'
                || recordBroadcastService.state.value === 'paused'"
            (pause-click)="pauseClickHandler()"
            (stop-click)="stopRecording()">
        </app-record-controls>
    </div>

    <div class="broadcast-container">
        <span class="hint">{{ 'broadcasting' | locale | async }}</span>

        <app-record-broadcast-button
            [disabled]="!broadcastAvailability.value"
            [iconSrc]="recordBroadcastService.state.value === null
                    ? 'assets/icons/broadcast/broadcast-blue.svg'
                    : 'assets/icons/broadcast/broadcast-stop.svg'"
            (button-click)="broadcastClickHandler()">
        </app-record-broadcast-button>
    </div>
</div>

<app-icon-button class="wrap-control"
     [ngClass]="{ 'wrapped': wrapped }"
     iconSrc="assets/icons/arrows/down-arrow.svg"
     (button-click)="wrapped = !wrapped">
</app-icon-button>
