<div class="record-broadcast-container"
    [ngClass]="{ 'wrapped': wrapped | async }">
    <div class="record-container"
        [ngSwitch]="recordControlState | async">
        <span class="hint">{{ 'recording' | locale | async }}</span>

        <app-record-broadcast-button
            iconSrc="assets/icons/record/record-red.svg"
            [disabled]="!(recordingAvailability | async)"
            *ngSwitchCase="'recordButton'"
            (button-click)="recordBroadcast.startRecording()">
        </app-record-broadcast-button>

        <app-record-controls
            [recordState]="recordBroadcast.state | async"
            *ngSwitchCase="'pauseStopControls'"
            (pause-click)="pauseClickHandler()"
            (stop-click)="stopRecording()">
        </app-record-controls>
    </div>

    <div class="broadcast-container">
        <span class="hint">{{ 'broadcasting' | locale | async }}</span>

        <app-record-broadcast-button
            [disabled]="!(recordBroadcast.isBroadcastingAvailable | async)"
            [iconSrc]="broadcastButtonIcon | async"
            (button-click)="broadcastClickHandler()">
        </app-record-broadcast-button>
    </div>
</div>

<button appIconButton class="wrap-control"
     [ngClass]="{ 'wrapped': wrapped | async }"
     iconSrc="assets/icons/arrows/down-arrow.svg"
     (click)="wrapped.next(!wrapped.value)">
</button>
