@import '../../../../styles/mixins';

:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background: var(--base-white-color);
  border-radius: 10px;
  box-shadow: var(--strong-shadow);

  pointer-events: auto;

  .record-broadcast-container {
    display: flex;
    width: 470px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 35px 30px 35px 50px;

    .record-container, .broadcast-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .hint {
        @extend %primary-light-font;

        margin-right: 20px;

        color: var(--base-black-color);
      }
    }
  }

  .wrap-control {
    --icon-button-icon-width: 25px;

    margin: 10px;

    transition: var(--base-transition);

    &.wrapped {
      transform: rotate(180deg);
    }
  }
}
