<div class="record-broadcast-container"
    *ngIf="!wrapped">
    <div class="record-container">
        <span class="hint">Запись</span>

        <app-record-broadcast-button
            icon="assets/icons/record/record.svg"
            [disabled]="!recordBroadcastService.isRecordingAvailable()"
            *ngIf="recordBroadcastService.state.value === null
                || recordBroadcastService.state.value === 'broadcasting'"
            (button-click)="recordBroadcastService.startRecording()">
        </app-record-broadcast-button>

        <app-record-controls
            [recordState]="recordBroadcastService.state.value"
            *ngIf="recordBroadcastService.state.value === 'recording'
                || recordBroadcastService.state.value === 'paused'"
            (pause-click)="pauseClickHandler()"
            (stop-click)="recordBroadcastService.stopRecording()">
        </app-record-controls>
    </div>

    <div class="broadcast-container">
        <span class="hint">Трансляция</span>

        <app-record-broadcast-button
            [disabled]="!broadcastAvailability.value"
            [icon]="recordBroadcastService.state.value === null
                    ? 'assets/icons/broadcast/broadcast.svg'
                    : 'assets/icons/broadcast/broadcast-stop.svg'"
            (button-click)="broadcastClickHandler()">
        </app-record-broadcast-button>
    </div>
</div>

<img class="wrap-control"
     [src]="wrapped ? 'assets/icons/arrows/up-arrow.svg'
                    : 'assets/icons/arrows/down-arrow.svg'"
     (click)="wrapped = !wrapped">
