@import '../../../../../../styles/mixins';

:host {
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--base-white-color);
  border-radius: 10px;
  opacity: 1;

  .hint {
    color: var(--base-black-color);

    @extend %primary-bold-font;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 50px;
  }

  .confirm-button {
    --button-background: var(--accent-blue-vertical-gradient);
    --button-color: var(--base-white-color);
  }
}
