@import '../../../../styles/mixins';

:host {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;

  .left-container, .right-container {
    width: 50%;
    height: 100%;

    .document-view {
      width: 100%;
      height: 100%;
    }
  }

  .left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-right: 1px;

    &.fullscreen {
      width: 100%;
      padding: 0;
    }

    .add-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4vh;

      .upload-document-input {
        display: none;
      }

      .add-hint {
        @extend %primary-bold-font;

        color: var(--base-black-color);

        text-transform: uppercase;

        user-select: none;
      }
    }
  }

  .right-container {
    padding-left: 1px;
  }

  .record-broadcast-container {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 0;

    display: flex;
    width: 100%;

    justify-content: center;

    pointer-events: none;
  }
}
