<ng-container *ngIf="documentService.opened | async as documents">
    <div class="left-container"
        [ngClass]="{'fullscreen': documents.size < 2}">

        <div class="add-container"
            *ngIf="documents.size === 0">

            <app-large-icon-button class="add-button"
                iconSrc="assets/icons/plus.svg"
                (button-click)="openDocument()">
            </app-large-icon-button>

            <span class="add-hint">
                {{ 'add-file' | locale | async }}
            </span>
        </div>

        <app-document-view class="document-view"
            *ngIf="documents.get(0) as doc"
            [doc]="doc"
            (click)="documentService.select(0)">
        </app-document-view>
    </div>

    <div class="right-container"
        *ngIf="documents.size > 1">
        <app-document-view class="document-view"
            *ngIf="documents.get(1) as doc"
            [doc]="doc"
            (click)="documentService.select(1)">
        </app-document-view>
    </div>

    <div class="record-broadcast-container"
         *ngIf="documents.size !== 0">
        <app-record-broadcast-control
            class="record-broadcast-control">
        </app-record-broadcast-control>
    </div>
</ng-container>
