<app-file-title-menu class="title-menu">
</app-file-title-menu>

<app-file-viewer class="viewer">
</app-file-viewer>


<app-backdrop [opened]="confirmation.state === 'stop-recording'">
    <app-finish-record-confirmation class="confirmation"
        (confirm-click)="confirmation.state = null">
    </app-finish-record-confirmation>
</app-backdrop>

<app-backdrop [opened]="confirmation.state === 'select-broadcasting'"
    *ngIf="documentService.opened.length === 2">
    <app-file-select-confirmation class="confirmation"
        (cancel-click)="confirmation.state = null"
        (select-click)="startBroadcasting()">
    </app-file-select-confirmation>
</app-backdrop>

<app-backdrop [opened]="confirmation.state === 'close-broadcasting'
                    || confirmation.state === 'close-recording'">
    <app-file-close-confirmation class="confirmation"
        (cancel-click)="cancelClosing()"
        (confirm-click)="closeDocument()">
    </app-file-close-confirmation>
</app-backdrop>

<app-backdrop [opened]="confirmation.state === 'select-file'"
    *ngIf="fileSelect.selectedMountpoint">
    <app-file-select-dialog class="confirmation"
        [openButtonText]="'add' | locale | async"
        (close-click)="confirmation.state = null"
        (open-click)="fileSelectedHandler($event)">
    </app-file-select-dialog>
</app-backdrop>
