:host {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  flex-direction: column;

  background: var(--faint-light-grey-color);

  .viewer {
    height: 0;
    flex-grow: 1;
  }
}
