@import '../../../../../styles/mixins';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px;

  background: var(--base-white-color);
  border-radius: 10px;

  gap: 50px;

  .hint {
    @extend %primary-bold-font;

    color: var(--base-black-color);
    text-align: center;
    text-transform: uppercase;
  }
}
