<h1 class="heading">{{ 'no-connection' | locale | async }}</h1>

<p class="description">{{ 'check-network' | locale | async }}</p>

<div class="button-container">
    <button appTextButton
        class="small-text-button-size exit"
        (click)="exit()"
    >
        {{ 'activation-exit' | locale | async }}
    </button>

    <button appTextButton
        class="small-text-button-size retry"
        [accent]="true"
        [disabled]="isConnecting | async"
        (click)="checkConnection()"
    >
        {{ retryButtonText | locale | async }} 
        <ng-container *ngIf="!(isConnecting | async)">
            ({{ retryTimer | async }})
        </ng-container>
    </button>
</div>
