<div class="slide-container">
  <app-slide-button class="previous-button"
    [disabled]="doc.currentPage <= 0"
    icon="assets/icons/arrows/left-arrow.svg"
    disabled-icon="assets/icons/arrows/dim-left-arrow.svg"
    (slide-click)="previousSlide()">
  </app-slide-button>

  <app-slide-content class="slide-content"
    [pdf]="doc.pdf"
    [page]="doc.currentPage">
  </app-slide-content>

  <app-slide-button class="next-button"
    [disabled]="doc.currentPage >= (doc.pdf.numPages - 1)"
    icon="assets/icons/arrows/right-arrow.svg"
    disabled-icon="assets/icons/arrows/dim-right-arrow.svg"
    (slide-click)="nextSlide()">
  </app-slide-button>

  <div class="grid-item"></div>
  <app-slide-progress-bar class="progress-bar"
    [doc]="doc">
  </app-slide-progress-bar>
  <div class="grid-item"></div>
</div>
