button {
  width: 210px;
  height: 110px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--accent-blue-vertical-gradient);
  box-shadow: var(--base-shadow);
  transition: var(--base-transition);

  border-radius: 10px;

  img {
    width: 40px;
  }

  &:active {
    transform: var(--button-active-transform);
  }
}
