button {
  display: flex;
  width: 210px;
  height: 110px;

  align-items: center;
  justify-content: center;

  background: var(--accent-blue-vertical-gradient);
  border-radius: 10px;
  box-shadow: var(--base-shadow);

  transition: var(--base-transition);

  img {
    width: 40px;
  }

  &:active {
    transform: var(--button-active-transform);
  }
}
