@import 'mixins';

@for $i from 1 to 6 {
  h#{$i} {
    margin: 0;
  }
}

p {
  margin: 0;
}

body {
  margin: 0;
  user-select: none;
}

button {
  padding: 0;
  border: 0;

  background: transparent;
  outline: 0;
}

input {
  border: 0;
  outline: 0;
}

.small-text-button-size {
  @extend %primary-light-font;

  width: 230px;
  height: 50px;
}

.medium-text-button-size {
  @extend %primary-regular-font;

  width: 395px;
  height: 70px;
}
