@import 'mixins';

@for $i from 1 to 6 {
  h#{$i} {
    margin: 0;
  }
}

p {
  margin: 0;
}

body {
  margin: 0;
  user-select: none;
}

button {
  padding: 0;
  border: 0;

  background: transparent;
  outline: 0;
}

input {
  border: 0;
  outline: 0;
}

.small-text-button-size {
  @extend %primary-light-font;

  width: 230px;
  height: 50px;
}

.medium-text-button-size {
  @extend %primary-regular-font;

  width: 395px;
  height: 70px;
}

.selectable-button {
  --normal-button-padding: 0 30px;

  --button-background: var(--faint-light-grey-horizontal-gradient);

  // accent
  --button-accent-background: var(--accent-blue-horizontal-gradient);
  --button-accent-background-transform: translateX(calc(-100% - 1px));

  // active
  --button-active-transform: none;
}
