:root {
  /* ----- Color styles ----- */
  /* Base */
  --base-black-color: #43454B;
  --base-transparent-black-color: rgba(67, 69, 75, 0.5);
  --base-white-color: #FFFFFF;
  /* Faint */
  --faint-dark-grey-color: #CDCDCD;
  --faint-dark-grey-gradient: linear-gradient(180deg, #E5E5E5 0%, #C5C3C3 100%);
  --faint-light-grey-color: #F3F3F3;
  --faint-light-grey-vertical-gradient: linear-gradient(180deg, #F1F1F1 0%, #D8D8D8 100%);
  --faint-light-grey-horizontal-gradient: linear-gradient(270deg, #D8D8D8 0%, #F1F1F1 100%);
  --faint-white-gradient: linear-gradient(180deg, #FFFFFF 0%, #E5E5E5 100%);
  /* Accent */
  --accent-blue-color: #00B9F2;
  --accent-dim-blue-color: rgba(0, 105, 242, 0.05);
  --accent-blue-vertical-gradient: linear-gradient(0deg, #0A7BB3 0%, #1EC7F4 100%);
  --accent-blue-horizontal-gradient: linear-gradient(270deg, #0A7BB3 0%, #1EC7F4 100%);
  --accent-red-color: #DD2D4A;
  --accent-yellow-color: #FDCA40;

  /* ----- Effect styles ----- */
  --base-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  --base-inner-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
  --strong-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --dark-text-shadow: 1px 1px 10px #FFFFFF;

  /* ----- Component styles ----- */
  /* Buttons */
  --normal-button-padding: 0;
  --normal-button-justify-content: center;
  --button-background: var(--faint-light-grey-vertical-gradient);
  --button-color: var(--base-black-color);
  /* Record broadcast button */
  --record-broadcast-button-icon-width: 30px;
  /* Inputs */
  --input-text-align: center;
}
