@import '../../../../styles/mixins';

:host {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  background: var(--base-white-color);

  .tribune {
    position: absolute;
    top: 25%;
    left: 15%;

    img {
      width: 40vw;
    }
  }

  .version {
    position: absolute;
    right: 5px;
    bottom: 5px;

    color: var(--faint-dark-grey-color);
    @extend %secondary-regular-font;
  }

  .logo-container {
    width: 50%;
    height: 100%;

    padding: 3% 5%;

    .logo {
      height: 8vh;
    }
  }

  .buttons-container {
    width: 50%;
    height: 100%;

    margin: 16% 12%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .button {
      margin-bottom: 70px;
    }
  }
}

