<div class="tribune">
    <img src="assets/images/tribune.svg">
</div>

<span class="version">
    {{ updateService.version }}
</span>

<div class="logo-container">
    <img class="logo" src="assets/logos/colorful-logo.svg" alt="WS Company Group">
</div>

<div class="buttons-container">
    <app-normal-button class="button"
        (button-click)="openFileView()">
        {{ fileViewButtonText | locale | async }}
    </app-normal-button>
    <app-normal-button class="button"
        (button-click)="openSettings()">
        {{ 'settings' | locale | async }}
    </app-normal-button>
    <app-normal-button class="button"
        (button-click)="quitApplication()">
        {{ 'exit' | locale | async }}
    </app-normal-button>
</div>

<app-backdrop class="license-dialog"
    [opened]="(network.connection | async) && !(license.keySubject | async)">
    <app-license-dialog></app-license-dialog>
</app-backdrop>

<app-backdrop class="network-confirmation"
    [opened]="!(network.connection | async)">
    <app-network-confirmation></app-network-confirmation>
</app-backdrop>
