<img class="tribune-illustration"
    src="assets/images/tribune.svg">

<span class="version">
    {{ updateService.version }}
</span>

<img class="logo"
    src="assets/logos/colorful-logo.svg" 
    alt="WS Company Group">

<div class="buttons-container">
    <button appTextButton
        class="medium-text-button-size button"
        (click)="openFileView()">
        {{ fileViewButtonText | locale | async }}
    </button>
    <button appTextButton
        class="medium-text-button-size button"
        (click)="openSettings()">
        {{ 'settings' | locale | async }}
    </button>
    <button appTextButton
        class="medium-text-button-size button"
        (click)="quitApplication()">
        {{ 'exit' | locale | async }}
    </button>
</div>

<app-backdrop class="license-dialog"
    [opened]="(network.connection | async) && !(license.keySubject | async)">
    <app-license-dialog></app-license-dialog>
</app-backdrop>

<app-backdrop class="network-confirmation"
    [opened]="!(network.connection | async)">
    <app-network-confirmation></app-network-confirmation>
</app-backdrop>
