<div class="item-container"
    [ngClass]="{ 'selected': doc.selected }">
    <div class="title">{{ doc.doc.title | documentTitle }}</div>

    <img class="record-icon"
        [src]="doc.selected
            ? 'assets/icons/record/record-white.svg'
            : 'assets/icons/record/record-red.svg'"
        *ngIf="doc.recordBroadcastState.value === 'recording'
            || doc.recordBroadcastState.value === 'paused'">
    <img class="broadcast-icon"
        [src]="doc.selected
            ? 'assets/icons/broadcast/broadcast-white.svg'
            : 'assets/icons/broadcast/broadcast-black.svg'"
        *ngIf="doc.recordBroadcastState.value !== null">

    <app-icon-button class="close-button" 
        [src]="doc.selected
            ? 'assets/icons/crosses/cross-white.svg'
            : 'assets/icons/crosses/cross-black.svg'"
        (button-click)="close()">
    </app-icon-button>
</div>
