<span class="title">{{ 'recording-broadcasting' | locale | async }}</span>

<span class="subtitle">{{ 'select-file-to-broadcast' | locale | async }}</span>

<div class="slides-container">
    <app-slide-thumbnail class="slide first"
        [pdf]="documentService.opened[0].pdf"
        [page]="documentService.opened[0].currentPage.value"
        [selected]="documentService.opened[0].selected"
        (click)="documentService.select(0)"
        [ngClass]="documentService.opened[0].pdf.orientation">
    </app-slide-thumbnail>

    <app-slide-thumbnail class="slide second"
        [pdf]="documentService.opened[1].pdf"
        [page]="documentService.opened[1].currentPage.value"
        [selected]="documentService.opened[1].selected"
        (click)="documentService.select(1)"
        [ngClass]="documentService.opened[1].pdf.orientation">
    </app-slide-thumbnail>
</div>

<div class="buttons-container">
    <app-small-button class="cancel-button"
        (button-click)="cancelClickEmitter.emit()">
        {{ 'cancel' | locale | async }}
    </app-small-button>

    <app-small-button class="select-button"
        (button-click)="selectClickEmitter.emit()">
        {{ 'select' | locale | async }}
    </app-small-button>
</div>

