<span class="title">{{ 'recording-broadcasting' | locale | async }}</span>

<span class="subtitle">{{ 'select-file-to-broadcast' | locale | async }}</span>

<div class="slides-container">
    <app-slide-thumbnail class="slide first"
        *ngFor="let doc of documentService.opened | async; index as i"
        [pdf]="doc.pdf"
        [pageIndex]="doc.currentPage | async"
        [selected]="doc.selected"
        (click)="documentService.select(i)"
        [ngClass]="doc.pdf.orientation">
    </app-slide-thumbnail>
</div>

<div class="buttons-container">
    <button appTextButton
        class="small-text-button-size cancel-button"
        (click)="cancelClickEmitter.emit()">
        {{ 'cancel' | locale | async }}
    </button>

    <button appTextButton
        class="small-text-button-size select-button"
        [accent]="true"
        (click)="selectClickEmitter.emit()">
        {{ 'select' | locale | async }}
    </button>
</div>

