@import '../../../../styles/mixins';

:host {
  position: relative;

  display: flex;
  width: 100%;
  height: 100vh;

  flex-direction: column;
  align-items: center;

  background: var(--faint-white-gradient);

  .top-container {
    display: flex;
    width: 100%;

    flex-direction: row;
    justify-content: flex-end;

    margin-bottom: 5%;

    .close-button {
      --icon-button-icon-width: 30px;

      margin: 10px;
    }
  }

  .title {
    @extend %primary-bold-font;

    margin-bottom: 100px;

    color: var(--base-black-color);
    text-transform: uppercase;
  }

  .settings-nav {
    display: flex;

    flex-direction: row;
    align-items: center;

    margin-bottom: 5%;

    app-selectable-button {
      margin-right: 100px;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  .router-container {
    width: 100%;
  }

  .bottom-container {
    position: absolute;
    bottom: 0;

    display: flex;
    width: 100%;

    flex-direction: row;
    justify-content: center;

    margin-bottom: 50px;

    img {
      height: 50px;
    }
  }
}
