@import '../../../../styles/mixins';

:host {
  position: relative;

  display: flex;
  width: 100%;
  height: 100vh;

  flex-direction: column;
  align-items: center;

  background: var(--faint-white-gradient);

  gap: 10%;

  .top-container {
    display: flex;
    width: 100%;

    justify-content: flex-end;

    .close-button {
      --icon-button-icon-width: 30px;

      margin: 10px;
    }
  }

  .title {
    @extend %primary-bold-font;

    color: var(--base-black-color);
    text-transform: uppercase;
  }

  .settings-nav {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .router-container {
    width: 100%;
  }

  .logo {
    position: absolute;
    bottom: 0;

    height: 50px;

    margin-bottom: 50px;
  }
}
