<div class="top-container">
    <button appIconButton class="close-button"
        iconSrc="assets/icons/crosses/cross-black.svg"
        (click)="router.navigateByUrl('/main-menu')">
    </button>
</div>

<span class="title">{{ 'settings' | locale | async }}</span>

<nav class="settings-nav">
    <app-selectable-button *ngFor="let route of navigationRoutes"
        [selected]="(routeSubject | async) === route"
        (button-click)="routeSubject.next(route)">
        {{ route | locale | async }}
    </app-selectable-button>
</nav>

<div class="router-container"
    [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</div>

<div class="bottom-container">
    <img class="logo" src="assets/logos/grey-logo.svg" alt="Workshop">
</div>
