<div class="top-container">
    <app-icon-button class="close-button"
        src="assets/icons/crosses/cross-black.svg"
        (button-click)="router.navigateByUrl('/main-menu')">
    </app-icon-button>
</div>

<span class="title">{{ 'settings' | locale | async }}</span>

<nav class="settings-nav">
    <app-selectable-button
        [selected]="(routeSubject | async) === 'general'"
        (button-click)="routeSubject.next('general')">
        {{ 'general' | locale | async }}
    </app-selectable-button>
    <app-selectable-button
        [selected]="(routeSubject | async) === 'recording'"
        (button-click)="routeSubject.next('recording')">
        {{ 'recording' | locale | async }}
    </app-selectable-button>
    <app-selectable-button
        [selected]="(routeSubject | async) === 'broadcasting'"
        (button-click)="routeSubject.next('broadcasting')">
        {{ 'broadcasting' | locale | async }}
    </app-selectable-button>
</nav>

<router-outlet></router-outlet>

<div class="bottom-container">
    <img class="logo" src="assets/logos/grey-logo.svg" alt="Workshop">
</div>
