@import '../../../../styles/mixins';

:host {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;

  .no-device-hint {
    @extend %primary-light-font;

    display: block;

    margin-bottom: 10px;

    color: var(--accent-red-color);

    opacity: 0;

    transition: var(--base-transition);

    &.visible {
      opacity: 1;
    }
  }
}
