@import '../../../../styles/mixins';

:host {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;

  .settings-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .no-device-hint {
      @extend %primary-light-font;

      display: block;

      color: var(--accent-red-color);

      opacity: 0;

      transition: var(--base-transition);

      &.visible {
        opacity: 1;
      }
    }
  }
}
