@import "../../../../../styles/mixins.scss";

:host {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: var(--faint-white-gradient);

  .top-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .close-button {
      margin: 20px;
      padding: 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 30px;
      }
    }
  }

  .center-container {
    display: flex;
    flex-direction: column;

    .title {
      max-width: 400px;

      color: var(--base-black);
      text-align: center;
      @extend %primary-bold-font;
    }

    .password-input {
      margin-top: 65px;

      display: flex;
      flex-direction: column;

      .wrong-password-hint {
        visibility: hidden;

        margin-bottom: 10px;

        color: var(--accent-red-color);
        text-align: center;
        @extend %primary-light-font;

        &.visible {
          visibility: visible;
        }
      }
    }

    .continue-button {
      margin-top: 50px;

      --button-background: var(--accent-blue-vertical-gradient);
      --button-color: var(--base-white-color);
    }
  }

  .bottom-container {
    .logo {
      height: 50px;

      margin-bottom: 50px;
    }
  }
}
