.view-container {
  display: flex;
  width: 100%;
  height: 100%;

  transition: var(--base-transition);

  &.vertical {
    flex-direction: row;

    .slide-nav {
      height: 100%;

      margin-left: 20px;
    }
  }

  &.horizontal {
    flex-direction: column;

    .slide-nav {
      width: 100%;

      margin-bottom: 20px;

      &.wrap {
        height: 50%;

        margin: 0;
      }
    }
  }

  &.selected {
    background: var(--accent-dim-blue-color);
  }

  .main-slide {
    width: 100%;
    height: 100%;

    margin: 20px 0 10px;
  }
}
