<ng-container *ngIf="documentObservable | async as doc">
    <div class="view-container"
         *ngIf="documentOrientation | async as orientation"
        [ngClass]="{ 'selected': doc.selected,
            'vertical': orientation === 'vertical',
            'horizontal': orientation === 'horizontal'}">
        <app-slide-nav class="slide-nav"
            *ngIf="orientation === 'vertical'"
            [doc]="doc">
        </app-slide-nav>

        <app-main-slide class="main-slide"
            [doc]="doc">
        </app-main-slide>

        <app-slide-nav class="slide-nav"
            *ngIf="orientation === 'horizontal'"
            [ngClass]="{ 'wrap': isHalfScreen() }"
            [wrap]="isHalfScreen()"
            [doc]="doc">
        </app-slide-nav>
    </div>
</ng-container>
