<div class="main-container">
  <div class="background">
    <img src="assets/background/filled-brandbook.svg">
  </div>

  <div class="tribune">
    <img src="assets/images/tribune.png">
    <span>BM Tribune</span>
  </div>

  <span class="version">
    {{ updateService.version }}
  </span>

  <div class="logo__container">
    <img class="logo" src="assets/logos/colorful-logo.svg" alt="BM Group">
  </div>

  <div class="buttons__container">
    <app-normal-button
      (click)="openFileView()">Начать работу</app-normal-button>
    <app-normal-button
      (click)="openSettings()">Параметры</app-normal-button>
    <app-normal-button
      (click)="quitApplication()">Выход</app-normal-button>
  </div>
</div>
