.toggle-container {
  position: relative;
  width: 70px;
  height: 35px;

  background: var(--base-white-color);
  border-radius: 10px;

  overflow: hidden;

  &.activated {
    .switch {
      transform: translateX(35px);
    }

    .background {
      width: 100%;
    }
  }

  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;

    background: var(--accent-blue-color);
    opacity: .4;

    transition: .3s;
  }

  .switch {
    width: 50%;
    height: 100%;

    background: var(--accent-blue-color);
    border-radius: 10px;

    transition: .3s;
  }
}
