<div class="top-container">
    <div class="header-container">
        <h1>{{ 'product-activation' | locale | async }}</h1>
        <img class="logo" src="assets/logos/grey-logo-shorten.svg" alt="WS">
    </div>

    <p class="description">
        {{ 'enter-activation-key' | locale | async }}
    </p>
</div>

<div class="form">
    <div class="input-container">
        <span class="wrong-key"
            [ngClass]="{ 'visible': wrongKey | async }">
            {{ 'wrong-activation-key' | locale | async }}
        </span>

        <app-license-key-input class="key-input"
           [formControl]="keyControl">
        </app-license-key-input>
    </div>

    <div class="buttons-container">
        <button appTextButton
            class="small-text-button-size exit"
            (click)="exit()">
            {{ 'activation-exit' | locale | async }}
        </button>

        <button appTextButton
            class="small-text-button-size activate"
            [accent]="true"
            [disabled]="(wrongKey | async) || keyControl.invalid"
            (click)="activate()">
            {{ 'activate' | locale | async }}
        </button>
    </div>
</div>
