<div class="top-container">
    <div class="header-container">
        <h1>{{ 'product-activation' | locale | async }}</h1>
        <img class="logo" src="assets/logos/grey-logo-shorten.svg" alt="WS">
    </div>

    <p class="description">
        {{ 'enter-activation-key' | locale | async }}
    </p>
</div>

<div class="form">
    <span class="wrong-key"
        [ngClass]="{ 'visible': wrongKey }">
        {{ 'wrong-activation-key' | locale | async }}
    </span>

    <app-license-key-input class="key-input"
       [formControl]="keyControl">
    </app-license-key-input>

    <div class="buttons-container">
        <app-small-button class="exit"
            (button-click)="exit()">
            {{ 'activation-exit' | locale | async }}
        </app-small-button>
        <app-small-button class="activate"
            [disabled]="keyControl.invalid"
            (button-click)="activate()">
            {{ 'activate' | locale | async }}
        </app-small-button>
    </div>
</div>
