@import '../../../../styles/mixins';

:host {
  display: flex;
  width: 800px;
  height: 500px;
  box-sizing: border-box;

  flex-direction: column;
  justify-content: space-between;

  padding: 50px;

  background: var(--faint-light-grey-color);
  border-radius: 10px;

  color: var(--base-black-color);

  .top-container {
    display: flex;
    flex-direction: column;

    .header-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 50px;

      h1 {
        @extend %primary-bold-font;
      }
    }

    .description {
      @extend %primary-light-font;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrong-key {
      @extend %primary-light-font;

      margin-bottom: 10px;

      color: var(--accent-red-color);

      opacity: 0;

      transition: var(--base-transition);

      &.visible {
        opacity: 1;
      }
    }

    .key-input {
      width: 100%;

      margin-bottom: 50px;
    }

    .buttons-container {
      display: flex;
      width: 100%;

      flex-direction: row;
      justify-content: flex-end;

      .exit {
        margin-right: 30px;
      }

      .activate {
        --button-background: var(--accent-blue-vertical-gradient);
        --button-color: var(--base-white-color);
      }
    }
  }
}
