@import '../../../../styles/mixins';

:host {
  display: flex;
  width: 800px;
  height: 500px;
  box-sizing: border-box;

  flex-direction: column;
  justify-content: space-between;

  padding: 50px;

  background: var(--faint-light-grey-color);
  border-radius: 10px;

  color: var(--base-black-color);

  .top-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        @extend %primary-bold-font;
        text-transform: uppercase;
      }
    }

    .description {
      @extend %primary-light-font;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .input-container {
      display: flex;
      width: 100%;

      flex-direction: column;
      align-items: center;
      gap: 10px;

      .wrong-key {
        @extend %primary-light-font;

        color: var(--accent-red-color);

        opacity: 0;

        transition: var(--base-transition);

        &.visible {
          opacity: 1;
        }
      }

      .key-input {
        width: 100%;
      }
    }

    .buttons-container {
      display: flex;
      width: 100%;

      justify-content: flex-end;
      gap: 30px;
    }
  }
}
