:host {
  display: flex;
  flex-direction: row;

  button {
    width: 40px;
    height: 40px;

    transition: var(--base-transition);

    &.pause {
      margin-right: 15px;
    }

    &:active {
      transform: var(--button-active-transform);
    }

    img {
      /* icons should be square */
      width: 100%;
    }
  }
}
