/* You can add global styles to this file, and also import other style files */
:root {
  /* ----- Text styles----- */
  --base-font-family: TT Lakes, sans-serif;

  --bold-font-weight: bold;
  --base-font-weight: 500;

  --bold-font-size: 50px;
  --bold-line-height: 68px;
  --large-font-size: 40px;
  --large-line-height: 54px;
  --normal-font-size: 30px;
  --normal-line-height: 41px;
  --small-font-size: 25px;
  --small-line-height: 34px;
  --tiny-font-size: 14px;
  --tiny-line-height: 19px;

  /* ----- Color styles ----- */
  /* Base */
  --base-white-color: #FFFFFF;
  --base-black-color: #3E3E3F;
  /* Faint */
  --faint-dark-grey-color: #CDCDCD;
  --faint-dark-grey-gradient: linear-gradient(180deg, #E5E5E5 0%, #C5C3C3 100%);
  --faint-light-grey-color: #F3F3F3;
  --faint-light-grey-gradient: linear-gradient(180deg, #F1F1F1 0%, #D8D8D8 100%);
  --faint-white-gradient: linear-gradient(180deg, #FFFFFF 0%, #E5E5E5 100%);
  /* Accent */ 
  --accent-red-color: #D25F33;
  --accent-blue-color: #507DF2;
  --accent-yellow-color: #F2CC50;
  --accent-yellow-gradient: linear-gradient(180deg, #FFEEB1 0%, #E5E5E5 100%);

  /* ----- Effect styles ----- */
  --base-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  --strong-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --base-inner-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;

  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
}
