app-normal-button {
  --normal-button-padding: 0 30px;

  --button-background: var(--faint-light-grey-horizontal-gradient);
  --button-active-transform: none;

  &.selected {
    --button-background: var(--accent-blue-horizontal-gradient);
    --button-color: var(--base-white-color);
  }
}
