<ng-container *ngIf="documentService.opened | async as documents">
    <div class="left-container">
        <button appIconButton class="menu-button"
            iconSrc="assets/icons/menu.svg"
            (click)="router.navigateByUrl('/main-menu')">
        </button>

        <app-file-title-menu-item class="left-item"
            *ngIf="documents.get(0) as doc"
            [doc]="doc"
            (click)="documentService.select(0)"
            (close-click)="documentService.close(0)">
        </app-file-title-menu-item>
    </div>

    <div class="right-container">
        <div class="item-container">
            <app-file-title-menu-item class="right-item"
                *ngIf="documents.get(1) as doc"
                [doc]="doc"
                (click)="documentService.select(1)"
                (close-click)="documentService.close(1)">
            </app-file-title-menu-item>

            <div class="button-container"
                *ngIf="documents.size === 1"
                (click)="openDocument()">
                <button appIconButton 
                    class="add-document-button"
                    iconSrc="assets/icons/plus.svg">
                </button>
            </div>
        </div>

        <img class="logo" 
            src="assets/logos/white-logo-shorten.svg">
    </div>
</ng-container>
