@import '../../../../../styles/mixins';

button {
  width: 395px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--button-background);
  color: var(--button-color);

  @extend %primary-regular-font;

  border-radius: 10px;
  box-shadow: var(--base-shadow);
}
