@import '../../../../../styles/mixins';

button {
  width: 395px;
  height: 70px;

  padding: var(--normal-button-padding);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: var(--normal-button-justify-content);

  background: var(--faint-light-grey-vertical-gradient);

  color: var(--base-black-color);
  @extend %primary-regular-font;

  border-radius: 10px;
  box-shadow: var(--base-shadow);
}
