@import '../../../../../styles/mixins';

:host {
  width: 395px;
  display: block;

  button {
    width: 100%;
    height: 70px;

    padding: var(--normal-button-padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: var(--normal-button-justify-content);

    background: var(--button-background);

    color: var(--button-color);
    @extend %primary-regular-font;

    border-radius: 10px;
    box-shadow: var(--base-shadow);
    transition: var(--base-transition);

    &:disabled {
      --button-background: var(--faint-light-grey-vertical-gradient);
      --button-color: var(--faint-dark-grey-color);
    }

    &:active {
      transform: var(--button-active-transform);
    }
  }
}
