.nav-container {
  display: flex;
}

.nav-container.vertical {
  height: 100%;
  flex-direction: column;

  overflow-y: scroll;
}

.nav-container.horizontal {
  width: 100%;
  flex-direction: row;

  overflow-x: scroll;
}

.nav-container.horizontal.wrap {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;

  overflow-y: scroll;
}

.nav-container.vertical .thumbnail {
  margin-bottom: 30px;
  width: 170px;
}

.nav-container.horizontal .thumbnail {
  margin-right: 30px;
  height: 170px;
}

