@import '../../../../../styles/mixins';

.thumbnail-container {
  position: relative;

  height: 100%;
  padding: 3px;

  background: var(--faint-light-grey-color);
  border-radius: 10px;
  box-shadow: var(--base-shadow);

  transition: var(--base-transition);

  &.selected {
    background: var(--accent-blue-color);
  }

  .pdf-view {
    height: 100%;

    ::ng-deep {
      canvas {
        border-radius: 7px;
      }
    }
  }

  .page-number {
    @extend %primary-light-font;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: flex;
    width: 56px;
    height: 28px;

    align-items: center;
    justify-content: center;

    background: var(--base-white-color);
    border-radius: 10px 0;

    color: var(--base-black-color);
  }
}
